/*  Основной цвет текста #212121; */
/* вторичный цыет текста  #757575;*/
/* акцент #2196F3;*/
/*  Основной цвет фона  #F5F5F5;*/
/* Вторичный цвета фона #F5F4FA; */

:root{
  /* color */
--primary-text-color:#212121;
--secondary-text-color:#757575;
--accent-text-color:#2196F3;
--primary-bg-color:#F5F5F5;
--secondary-bg-color:#F5F4FA;
--light-color:#FFFFFF;
--hero-footer-bg-color:#2F303A;
--black-logo-color:#000000;

/* font */
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;
}
body{
  font-family: 'Roboto', sans-serif; 
  background-color:var(--light-color);
  color: var(--secondary-text-color);
}

.list{
list-style: none;
margin-top: 0;
margin-bottom: 0;
padding-right:0;
padding-left: 0;
}
/* header */

.header{
 color:var(--light-color);
  border: 1px solid #ECECEC;
}
.logo {
  color:var(--black-logo-color);
  font-family: var(--secondary-font);
  text-decoration: none;  
  font-weight:700;
  font-size: 26px;
  line-height:calc(31 / 26);
  letter-spacing: 0.03em;
}
.span-logo{
color:var(--accent-text-color); 
}

/* site nav */
.nav-list{
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-list .item:not(:last-child){
  margin-right: 50px;
}

.site-nav .nav-link{
color: var(--primary-text-color);
}
.contact-list{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list .item + .item{
  margin-left: 50px;
}
.main-nav{
  display: flex;
}


.nav-link{
text-decoration: none;
font-weight: 500;
font-size: 14px;
line-height:calc(16 / 14);
letter-spacing: 0.02em;
}



.site-nav .nav-link:hover,
.site-nav .nav-link:focus{
color:var(--accent-text-color);
}

.site-nav .nav-link.current {
  color:var(--accent-text-color)
}



.contact-mail{
    color:var(--secondary-text-color); 
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}
.contact-phone{
    color:var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
}

.nav-list,.contact-list{
  padding-left: 0;
}
.contact-mail:hover,
.contact-phone:hover{
color:var(--accent-text-color);
}

.contact-mail:focus,
.contact-phone:focus{
  color: var(--accent-text-color);
}


/* hero */
.hero{
  background-color:var(--hero-footer-bg-color);
}

.hero-title{
color: var(--light-color);
font-family:inherit;
font-weight: 900;
font-size: 44px;
line-height:calc(60 / 44);
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin: auto;
padding-bottom: 30px;
}
.title-center{
width:696px;
}

.button{
cursor: pointer;
color:var(--light-color);
background-color: var(--accent-text-color);
font-weight: 700;
font-size: 16px;
line-height:calc(30 / 16);

display:block;
width: 216px;
margin: auto;
padding: 10px 32px;
align-items:center;
text-align:center;

border:transparent;
border-radius: 4px;
}

.button:hover,
.button:focus{
  background-color:#188CE8;
}

/* section1 */
.section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.container{
  width:1200px;
  padding-left:15px;
  padding-right:15px;
  margin: 0 auto;
}

.features{
  display: flex;
  padding-left: 0;
  
}
.features .item{
 width: 270px;
}
.features .item + .item{
 margin-left: 30px;
}


.section-title{
color: var(--primary-text-color);
font-weight: 700;
font-size: 36px;
line-height: calc(42 / 36);
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom:50px;
text-align: center;
}

.visually-hidden{
position: absolute;
white-space: nowrap;
width: 1px;
height: 1px;
overflow: hidden;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
clip-path: inset(50%);
margin: -1px;
}


.features-title{
color: var(--primary-text-color);
font-weight:700;
font-size: 14px;
line-height:calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 0;
padding-bottom: 10px;

}

.features-content{
font-weight: 400;
font-size: 14px;
line-height:calc(24 / 14);
letter-spacing: 0.03em;
margin-top: 0;
}
/* section2 */
.galery{
  display: flex;
}

.picg{
  margin-right: 30px;
}
/* section3 */
.our-team {
  background-color: var(--secondary-bg-color);
  display: block;
}
.team-flex{
  display: flex;
  padding-bottom: 94px;
}
.team-flex .item:not(:last-child){
  margin-right: 30px;
}

.team-member{
color: var(--primary-text-color);
font-weight: 500;
font-size: 16px;
line-height:calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 10px;
}
.pic{
  margin-bottom: 30px;
}

.position{
font-weight: 400;
font-size: 16px;
line-height:calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}

/* footer */

.footer{
background-color:var(--hero-footer-bg-color);
height: 252px;
}

.footer-logo{
  color:var(--light-color);
  font-family: var(--secondary-font);
  text-decoration: none;  
  font-weight:700;
  font-size: 26px;
  line-height:calc(31 / 26);
  letter-spacing: 0.03em;
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.footer-span{
  color:var(--accent-text-color);
}

.address{
color: var(--light-color);
font-style: normal;
font-size: 14px;
text-decoration: none;
letter-spacing: 0.03em;
display: inline-block;
margin-bottom: 9px;
}

.address:hover,
.address:focus{
  color:var(--accent-text-color);
}

.footer-mail,.footer-number{
color:rgba(255, 255, 255, 0.6);
font-style: normal;
font-size:14px;
letter-spacing: 0.03em;
text-decoration: none;
display: inline-block;
}
.footer-mail{
  margin-bottom: 9px;
}


.footer-number:hover,
.footer-number:focus{
 color:var(--accent-text-color);
}

.footer-mail:hover,
.footer-mail:focus{
  color:var(--accent-text-color);
}




/* portfolio */

/* section */

.portfolio-button{
cursor: pointer;
color: var(--primary-text-color);
background-color:var(--secondary-bg-color);
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height:calc(26 / 16);
letter-spacing: 0.03em;

display:block;
width: 125px;

margin-right: 8px;
padding: 6px 22px;
text-align:center;
border:transparent;
border-radius: 4px;
}


.flex-portfolio-button{
  display: flex;
  justify-content:center;
  margin-bottom: 50px ;
}
/* .flex-portfolio-button:not(:last-child){
  margin-right: 8px;
} */


.footer-logo{
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 20px;
}

.portfolio-button:hover,
.portfolio-button:focus{
  background-color:var(--accent-text-color);
  color:var(--light-color);
}

.partfolio-img{
display: block;
margin-top: 0;
margin-bottom: 20px;

}


.portfolio-title{
color:var(--primary-text-color);
font-weight: 700;
font-size: 18px;
line-height:calc(36 / 18);
letter-spacing: 0.06em;

margin-top: 0;
margin-bottom: 4px;


  
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE;

  
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color:#EEEEEE;

  
  /* border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE; */

  
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;


}

.portfolio-content{
font-size: 16px;
line-height:calc(30 / 16);
letter-spacing: 0.03em;

margin-top: 0;
margin-bottom: 0;

/* border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #EEEEEE; */

  
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color:#EEEEEE;

  
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #EEEEEE;

  
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #EEEEEE;

}
.flex-card{
  display: flex;
  flex-wrap: wrap;
  gap:30px;
}

 











